body
{
  margin: 0;
  text-align: center;
  font-family: Merriweather,sans-serif;
}
h1
{
  margin: 50px auto 0 auto;
  font-family: Sacramento,cursive;
  font-size: 5.625rem;
  color: #FF8E9C;
}
h2
{
  font-family: Montserrat, serif;
  font-size: 2.5rem;
  color: #FF8E9C;
}
h3
{
  font-family: Montserrat,serif;
  color: #C26DBC;
}
a
{
  color: #C26DBC;
  text-decoration: none;
  font-weight: bold;
  margin: 5px;
}
a:hover
{
  color: #EAF6F6;
}
hr
{
  border: dotted #EAF6F6 8px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
p
{
  line-height: 2;
}
.footer-link
{
  color: #C26DBC;
  text-decoration: none;
  margin: 10px 20px;
  font-weight: bold;
}
.comp-sci
{
  font-weight: normal;
}
.bio
{
  width: 50%;
  margin: auto;
}
.contact-bio
{
  width: 30%;
  margin: 40px auto;
}
.profile-picture
{
  border-radius: 50%;
}
.copyright
{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 10px 0;
  margin: 0 auto;
}
.top-container
{
    background-color: #88FFFF;
    position: relative;
    padding-top: 100px;
}
.middle-container
{
  background-color:  white;
  margin: 30px 0;
}
.last-container
{
  background-color: #04ECF0;
  padding: 20px 0;

}
.computer-picture
{
  border-radius: 50%;
}
.skill-row
{
  width: 55%;
  margin: 100px auto;
  text-align: left;
}
.computer-picture
{
  width: 25%;
  float:left;
  margin-right: 30px;
}
.gamepad-picture
{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-cloud
{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.top-cloud
{
  position: absolute;
  right: 300px;
  top: 40px;
}
.row
{
  display: inline-block;

}
.column
{
  float: right;

}
.btn
{
   background: #04ECF0;
   background-image: -webkit-linear-gradient(top, #04ECF0, #3C898A);
   background-image: -moz-linear-gradient(top, #04ECF0, #3C898A);
   background-image: -ms-linear-gradient(top, #04ECF0, #3C898A);
   background-image: -o-linear-gradient(top, #04ECF0, #3C898A);
   background-image: -webkit-gradient(to bottom, #04ECF0, #3C898A);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: Montserrat, sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 10px 20px;
   -webkit-box-shadow: 1px 1px 10px 0 #000000;
   -moz-box-shadow: 1px 1px 10px 0 #000000;
   box-shadow: 1px 1px 10px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #226D6F 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
.btn:hover
{
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}
